# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/wp-admin/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
/.idea
# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

#Custom core file in here, add more file
!/wp-admin/user-edit.php
!wp-admin/profile.php
!/wp-admin/includes/class-wp-screen.php
!/wp-admin/includes/class-wp-users-list-table.php
!/wp-admin/includes/schema.php
!/wp-admin/includes/user.php

!/wp-includes/admin-bar.php
!/wp-includes/class-wp-user.php
!/wp-includes/class-wp-xmlrpc-server.php
!/wp-includes/user.php
!/wp-includes/rest-api/endpoints/class-wp-rest-users-controller.php


# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes